@import '../../../styles.scss';

.calculator__data {
    display: flex;
}

.data {
    &__container {
        max-width: 490px;
        width: 100%;
    }
    
    &__value {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        max-height: 45px;
    }

    &__name {
        font-size: 16px;
        line-height: 18px;
    }

    &__summ {
        font-size: 22px;
        line-height: 18px;
    }

    &__range {
        max-width: 490px;
        width: 100%;
        
        -webkit-appearance: none;
        height: 5px;
        outline: none;
        border-radius: 3px;
        background-color: $blue-color;

       
    } 

    &__tooltip {
        cursor: pointer;
        display: flex;
        margin: 0 auto;
        visibility: visible;
    }
    &__tooltip:hover + .tooltip__icon{
        visibility: hidden;
    }
}

.tooltip {
    position: relative;
    margin-left: 100px;

    &__header {
        margin: unset;
        font-size: 18px;
        line-height: 22px;
    }

    &__text {
        font-size: 14px;
        line-height: 17px;
        margin-top: 10px;
    }
    &__content {
        background-color: white;
        position: absolute;
        border: 1px solid #f3f1f1;
        box-shadow: 0 0 10px rgb(0, 0, 0, 0.1 );
        width: 226px;
        height: 102px;
        border-radius: 8px;
        margin-left: 40px;
        padding: 15px 0 0 25px;
    }
    
    &__content:before {
        position: absolute;
        content: ' ';
        width: 10px;
	    height: 10px;
        border-left: 1px solid #f3f1f1;
        border-bottom: 1px solid #f3f1f1;
        top: 25px;
        left: -1px;
        background: white;
        transform: translateX(-50%) rotate(45deg);
    }
}
