@import '../styles.scss';

.calculator {
    display: flex;
    flex-direction: column;
    align-self: baseline;

    max-width: 1038px;
    width: 100%;

    margin: auto;

    &__wrapper {
        display: flex;
        flex-direction: column;
    
        max-width: $data-wrapper;
        width: 100%;
    
        margin-right: 85px;
    }
}

.info {
    display: flex;
    flex-direction: column;

    &__logo {
        margin-left: -25px;
        margin-bottom: 45px;

        max-width: 340px;
    }

    &__text {
        width: 340px;
        height: 111px;

        padding: 12px 8px 27px 58px;

        background: #FFFFFF;
        border: 1px solid $blue-color;
        box-sizing: border-box;
        border-radius: 3px;

        font-size: 14px;
        line-height: 16px;
        color: #7C878E;
    }

    &__icon {
        position: absolute;
        margin-left: -46px;
    }
}
