<div class="calculator">
    <h1 class="calclulator__header">Депозитный калькулятор</h1>
    <div style='display: inline-flex;'>
        <div class="calculator__wrapper">
            <app-selector></app-selector>
            <app-input></app-input>
            <app-result></app-result>
        </div>
        <div class="calculator__info info">
            <img src="../assets/credit 1.svg" class="info__logo">
            <div class="info__text">
                <img src="../assets/icon-i.svg" class="info__icon">
                Расчеты калькулятора являются предварительными. Для расчета дохода применяются процентные ставки,
                действующие на момент проведения расчетов.
            </div>
        </div>
    </div>
</div>