@import '../../../styles.scss';

.result {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    max-width: $data-wrapper;
    width: 100%;

    margin-top: 40px;

    &__name {
        color: #7E878E;
        font-size: 14px;
        line-height: 17px;

        margin-bottom: 2px;
    }

    &__sum {
        width: 210px;
    }
    &__profit {
        width: 180px;
    }
    &__period {
        cursor: pointer;

        color: $dark-blue-color;
        text-decoration: underline;
    }

    &__value {
        font-size: 30px;
        line-height: 36px;

        white-space: nowrap;
    }   
}
